*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor-test{
    padding: 60px 0;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.recomendaciones{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    max-width: 80%;
    border-radius: 8px;
    align-items: center;
    padding-left: 150px;

}

.titulo{
    color: rgba(92 115 169);
    font-size: 45px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header{
    width: 100%;
    height: 650px;
    background: #373B44;  
    /* fallback for old browsers */
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)), url(../img/iStock-1174443325.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    /* padding-bottom: ; */
    position: sticky;
}

/* HEADER DE LAS OTRAS ENTRADAS DE LA PÁGINA */

.pf, .ns, .cost, .cont{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
}

.cont{
    background: #373B44;  
    /* fallback for old browsers */
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)), url(../img/xd.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cost{
    background: #373B44;  
    /* fallback for old browsers */
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)), url(../img/Costo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pf{
    background: #373B44;  
    /* fallback for old browsers */
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)), url(../img/preguntas-f.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ns{
    background: #373B44;  
    /* fallback for old browsers */
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgba(29, 121, 226, 0.479), rgba(49, 138, 216, 0.548)), url(../img/nuestro-s.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav .navpf, .navns, .navcost, .navcont{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    font-weight: 400px;
    color: #fff;
    text-decoration: none ;
    margin-right: 10px;
    font-size: 18px;
}

nav > a:hover{
    text-decoration: underline ;
    color:#5f6470;
}

main{
    padding-top: 60px;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding-top: 50px; */
    /* padding-bottom: 230px; */
    flex-direction: column;
    text-align: center;
}

.pf, .ns, .cost, .cont{
    display: flex;
    height: 430px;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-top: 50px; */
    padding-bottom: 130px;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #ffff;
}

.textos-header h2{
    font-size: 46px;
    color: #ffff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    pointer-events: none;
}

/* Nuestro servicio*/

.contenedor-servicios{
    display: flex;
    justify-content: space-evenly;
}

.imagen-servicios{
    padding-top: 40px;
    padding-right: 35px;
    width: 60%;
    height: 60%;
    border-radius: 16%;
}

.contenedor-servicios .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    font-size: 22px;
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background:rgba(37 135 177);
    color: #ffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    /* padding: 2px; */
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 600;
    text-align: justify;
}

.container{
    text-align: right;
}

/* Costos*/

.contenedor-costos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    position: relative; 
    top: -2px;
}

.contenido-costos img{
    width: 550px;
    padding-left: 20px;
    padding-right: 20px;
    object-fit: contain;
    display: block;
    border-radius: 25px;
}

.textos-costos {
    color: white;
}

/* Galeria */

.equipo {
    background: #f2f2f2;
    display: flex;
    justify-content: center; /* Añadido para centrar horizontalmente */
    align-items: center;
}

.galeria-port{
    display: flex;
    justify-content: center; /* Añadido para centrar horizontalmente */
    align-items: center;
    max-width: 1000px;
    margin: 0;
}

.psicologo {
    display: flex;
    flex-direction: column; /* Mostrar los elementos en una columna vertical */
    align-items: center;
    margin: 10px auto;
}

.imagen-port{
    width: 70%;
    margin: 10px auto; /* Cambiado el margin para centrar verticalmente y horizontalmente */
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0);
    top: 0;
    background: rgba(38, 152, 180, 0.555);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #ffff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}   

.nombres{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgba(38, 152, 180);
    width: 100%; 
}

/* TESTIMONIOS */

.mail{
    display: flex;
    width: 100%;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: rgb(92 115 169);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6)
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;

}

.cards .card > .contenido-texto-card p{
    font-weight: 300px;
    padding-top: 5px;
}

.cards2{
    display: flex;
    justify-content: space-evenly;
}

.cards2 .card{
    background: rgba(38, 152, 180);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6)
}

.cards2 .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards2 .card > .contenido-texto-card{
    width: 60%;
    color: #fff;

}

.cards2 .card > .contenido-texto-card p{
    font-weight: 300px;
    padding-top: 5px;
}

footer{
    /* height: 200px; */
    background: #f2f2f2;
    margin:auto;
    overflow: hidden;
    padding: 60px 0 30px 0;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(38, 152, 180);
}

.content-foo{
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 5px;

}

.content-foo > h4{
    color:#525252;
    border-bottom: 3px solid rgba(38, 152, 180);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color:#616161;
}

.titulo-final{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #9e9797;
    margin: 20px 0 0 0;
    font-size: 21px;
}


/* Para responsive mode */

@media screen and (max-width:1080px){
    header{
        background-position: center;
    }
    
    .contenedor-servicios{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-servicios .contenido-textos{
        width: 80%;
    }

    .imagen-servicios{
        width: 70%;
        padding-bottom: 30px;
    }
   
    .contenedor-costos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contenedor-costos .contenido-costos {
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 60%;
    }

    .cards2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards2 .card{
        width: 60%;
    }
    

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    .cards2 .card:first-child{
        margin-bottom: 30px;
    }
    
    .galeria-port {
        flex-wrap: wrap;
    }

    .imagen-port {
        width: 100%; /* Cambiar el tamaño para mostrar dos imágenes por fila */
        max-width: 200px;
    }


    .nombres .nombre {
        font-size: 18px; /* Ajustar el tamaño de fuente de los nombres */
    }
} 

/* Segunda responsive */
@media screen and (max-width: 913px){
    .textos-header h1{
        font-size: 45px;
    }

    .textos-header h2{
        font-size: 40px;
    }
}



/* Tercera responsive */

@media screen and (max-width: 768px) {
    header .textos-header {
        padding-bottom: 130px; /* Reducir el espacio inferior */
    }

    .contenedor-servicios {
        width: 100%;
        flex-direction: column; /* Mostrar los elementos en una columna */
        align-items: center; /* Alinear al centro */
    }

    .imagen-servicios {
        width: 90%; /* Ajustar el ancho de la imagen */
    }
    
    /* .costos {
        padding-left: 50px;
    }

    .contenido-costos {
        display: flex;
        width: 70%; 
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        } */


    .contenido-costos {
        display: flex;
        width: 100%; /* Ajusta el ancho del contenedor principal */
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 auto; /* Centra el contenedor horizontalmente */
    }
    
    .contenido-costos img {
        width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
        max-width: 100%; /* Evita que la imagen sea más grande que su tamaño nativo */
        height: auto; /* Mantiene la proporción de aspecto original de la imagen */
        display: block; /* Elimina el espacio extra que podría aparecer debajo de la imagen */
        margin-bottom: 10px; /* Agrega un pequeño espacio inferior entre la imagen y el texto */
    }


    .galeria-port {
        flex-direction: row; /* Mostrar los elementos en una columna */
        align-items: center; /* Alinear al centro */
    }

    .imagen-port {
        width: 60%; /* Ajustar el ancho de las imágenes */
        max-width: 300px; /* Establecer un ancho máximo para las imágenes */
    }

    .nombres {
        flex-direction: column; /* Mostrar los nombres de los psicólogos en una columna */
        align-items: center; /* Alinear al centro */
    }

    .nombres .nombre {
        font-size: 16px; /* Reducir el tamaño de fuente de los nombres */
    }

    .cards,
    .cards2 {
        flex-direction: column; /* Mostrar las tarjetas de testimonios en una columna */
        align-items: center; /* Alinear al centro */
    }

    .cards .card,
    .cards2 .card {
        width: 80%; /* Ajustar el ancho de las tarjetas */
        margin-bottom: 30px; /* Añadir margen inferior para separar las tarjetas */
    }


    .footer {
        padding-bottom: 20px; /* Reducir el espacio inferior del footer */
    }

    /* lo mio  */

    nav, .navns {
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 32px;
    }

    .textos-header h2{
        font-size: 28px;
    }

/* 
    .wave {

    } */
}

/* Cuarta responsive */

@media screen and (max-width: 530px) {

    .contenido-costos{
        width: 90%;
    }

    .contenido-costos h3 {
        font-size: 15px;
    }

    .contenido-costos h4 {
        font-size: 13px;
    }

    .imagen-servicios {
      width: 100%;
    }
  
    .contenedor-costos .contenido-costos {
      width: 90%;
      padding-right: 0;
    }
    
    .contenido-costos img{
        width: 76%;
        object-fit: contain;
        display: block;
    }
  
    .galeria-port .psicologo {
      width: 100%;
      margin: 5px;
    }
  
    .imagen-port {
      width: 100%;
      max-width: 200px;
    }
  
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border:none;
        text-align: center;
    }

    .content-foo p{
        border-bottom: 1px solid rgba(38, 152, 180);
        padding-bottom: 20px;
        text-align: center;
    }

    .titulo-final{
        font-size: 16px;
    }
  }
  
  
  
  
  

/* Quinta responsive */


@media screen and (max-width: 455px) {
    
    
    .contenido-texto-card {
        font-size: 13px;
    }
    
    .imagen-servicios {
        max-width: 100%;
    }

    .contenido-costos img {
        max-width: 100%;
    }

    .imagen-port img {
        width: 100%;
    }

    .contenedor-servicios {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .contenedor-costos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .contenido-costos {
        width: 60%;
        flex-direction: column;
    }

    .contenedor-costos .contenido-costos {
        width: 90%;
        padding-right: 0;
    }
      
    .contenido-costos img{
        width: 80%;
        object-fit: contain;
        display: block;
        padding-bottom: 15px;
    }

    .galeria-port {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .imagen-port {
        width: 48%;
        max-width: 200px;
    }

    .card .contenido-texto-card{
        padding-left: 10px;
    }

    .cards .card img{
        display: flex;
        width: 25%;
        height: 34%;
    }

    .cards2 .card img{
        display: flex;
        width: 25%;
        height: 34%;
    }

}
