
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
}


.top{
    padding-top: 26px;
}

.image {
    border-radius: 10%;
    width: 10%;
}

.info{
    flex-wrap: wrap;
    text-align: center;
}


.ind{
    object-fit: cover;
    border-radius: 5%;
    width: auto;
    height: 140px;
}

.serv{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-port{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0;
}

.servicio {
    display: flex;
    flex-direction: column; /* Mostrar los elementos en una columna vertical */
    align-items: center;
    margin: 10px auto;
}

.imagen-port{
    width: 70%;
    margin: 10px auto; /* Cambiado el margin para centrar verticalmente y horizontalmente */
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0);
    top: 0;
    background: rgba(38, 152, 180, 0.555);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #ffff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}   

.nombres{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgba(38, 152, 180);
    width: 100%; 
}

/* WEA DE NS */

.caja {
    background-color: rgb(137, 108, 192);
    padding: 20px;
    border: 2px solid rgb(137, 108, 192);
    border-radius: 8px;
    width: 300px;
    margin: 50px auto;
  }

.caja p {
    color: #fff;
    margin: 0;
    font-size: 22px;
    text-align: center;
  }

.proceso{
    flex-direction: row;
    align-items: center;
    height: 70px;
    text-align: center;
}

.proceso h1{
    font-size: 30px;
    color: rgba(30, 64, 143, 0.897);
}


/* PROCESO NS */
.contepasos{
    padding-left: 220px;
    padding-right: 220px;
    background-color: #f2f2f2;
    padding-top: 48px;
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paso {
    width: 400px;
    height: 250px;
    background-color: rgb(139, 130, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    transition: opacity 0.5s, transform 0.5s;
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    color: #f2f2f2;
    padding-left: 20px;
}

.paso.active {
    position: relative;
    transform: translateY(0);
    opacity: 1;
}

.paso:nth-child(odd) {
    margin-right: auto; /* Alinea a la izquierda en pasos impares */
    margin-left: 0;
}

.paso:nth-child(even) {
    margin-left: auto; /* Alinea a la derecha en pasos pares */
    margin-right: 0;
}

.nsfoot{
    padding-top: 80px;
}


/* CONTACTO SECCIÓN MAIL */

.contact-section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .contact-option:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
  }

  .contact-option {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
  }
  
  .contact-option:hover {
    background-color: #eee;
  }
  
  .contact-option h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact-option p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .contact-option img {
    width: 300px;
    height: 300px;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

/* AJUSTES DE SCREEN */


@media screen and (max-width: 912px) {
    .contepasos{
        padding-left: 0;
        padding-right: 0;
        background-color: #f2f2f2;
        padding-top: 48px;
        max-width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .paso{
        width: 300px;
        height: 188px;
    }
    
}



@media screen and (max-width: 567px){
    .proceso{
        padding-bottom: 160px;
    }
}